<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Создание ведомости объемов работ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
</head>
<body>
    <div class="table__container">
        <aside class="aside">
            <p>выбрать</p>
            <p>выбрать</p>
            <p>выбрать</p>
        </aside>
        <div class="content">
            <nav class="nav">
                <p>тут какая-то навигация?</p>
            </nav>
            <table class="table1">
                <tr><td colspan="2" contenteditable="true">Ведомость объемов работ</td></tr>
                <tr><td colspan="2">Заполнение проемов из ПВХ/алюминиевых конструкций</td></tr>
                <tr>
                    <td>Объект</td>
                    <td>проектое название объекта</td>
                </tr>
                <tr>
                    <td>Основание</td>
                    <td>шифр проекта, узлы, письма, согласования</td>
                </tr>
                <tr>
                    <td rowspan="12">дополнение согласно проекту</td>
                    <td>шифр проекта, узлы, письма, согласования</td>
                </tr>
                <tr>
                    <td>Минимальная ширина коробки</td>
                </tr>
                <tr>
                    <td>Предусмотреть механизм ступенчатого регулирования открывания и режим</td>
                </tr>
                <tr>
                    <td>В качестве светопрозрачного заполнения нижнего экрана остекления лоджий применить безопасное закаленное стекло по ГОСТ 30698</td>
                </tr>
                <tr>
                    <td>Заказ на изготовление изделий произвести после натурных </td>
                </tr>
                <tr>
                    <td>Установить детские замки</td>
                </tr>
                <tr>
                    <td>При наличии глухих створок в каждую из них устанавливается Оконный приточный клапан Air-Box</td>
                </tr>
                <tr>
                    <td>Требование к монтажному шву в отапливаемых помещениях должно соответствовать ГОСТ 30971-2012</td>
                </tr>
                <tr>
                    <td>Предусмотреть на входных дверях в жилую часть ограничители открывания с возможностью фиксации</td>
                </tr>
                <tr>
                    <td>Входные двери в жилую часть оборудовать доводчиками</td>
                </tr>
                <tr>
                    <td>Цвет профиля оконных и дверных конструкций в МОП принять согласно дизайн-проекту</td>
                </tr>
                <tr>
                    <td>В качестве гидроизоляции монтажного шва с внешней стороны использовать Робибанд НЛП Б, с внутренней стороны - Робибанд НЛ</td>
                </tr>
            </table>
            <table>
                <thead>
                    <tr>
                        <th rowspan="2">№ п/п</th>
                        <th rowspan="2">Наименование конструкции</th>
                        <th rowspan="2">Обозначение</th>
                        <th>Количество створок, открывающие</th>
                        <th rowspan="2">Тип остекления</th>
                        <th colspan="2">Размер</th>
                        <th rowspan="2">Площадь конструкции, м2</th>
                        <th rowspan="2">1 этаж</th>
                        <th rowspan="2">2 этаж</th>
                        <th rowspan="2">...</th>
                        <th rowspan="2">Количество, шт</th>
                        <th rowspan="2">Всего, м2</th>
                        <th rowspan="2">кол-во детских замков</th>
                        <th rowspan="2">Монтажный шов, пм</th>
                        <th rowspan="2">Вид покрытия</th>
                        <th rowspan="2">Примечания</th>
                    </tr>
                    <tr>
                        <th>Г-глухое, П-поротное, ПО - поворотно-откидное</th>
                        <th>Высота, м</th>
                        <th>Ширина, м</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>



    <script src="{{ url_for('static', filename='js/jquery-3.6.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>